.inputArea {
    position: relative;
    margin: 45px 0;
    margin-left: 41.5vw;
}
.inputArea .inputHandle {
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 30%;
    border: none;
    border-radius: 0;
    border: 1px solid grey;
    margin: 25px 0;
}
.inputArea .inputHandle:focus {
    outline: none;
}
.inputArea .inputHandle:focus ~ .inputHandleSize {
    top: -25px;
    font-size: 18px;
    color: white;
}
.inputArea input[type='password'] {
    letter-spacing: 0.2em;
}
.inputArea .inputHandleSize {
    color: gray;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}
.inputArea .inputHandleSize.filled {
    top: -25px;
    font-size: 18px;
    color: white;
}