.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.start {
  padding: 25px;
  color: white; 
  text-decoration: none;
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option {
  padding: 25px;
  cursor: pointer;
  color: white; 
  text-decoration: none;
}