.App {
  text-align: center;
  color: white;
<<<<<<< HEAD
  font-family: 'Roboto';
  font-size: 25px;
=======
>>>>>>> e51f546216339b7a668af7e5e592259b1a71f401
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
